# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nomadai?schema=public"

# JWT
JWT_SECRET="cambia_esto_por_un_secreto_aleatorio_de_64_caracteres"
JWT_EXPIRES_IN="15m"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# Google Gemini
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"

# App
PORT=3000
NODE_ENV="development"
